 .window {
    position: absolute;

    backdrop-filter: blur(10px) brightness(100%);
    border: 1px solid #ffffff38;
    border-radius: 8px;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    min-height: 360px;
    min-width: 480px;
 }

 .window-titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: #1d203000;
    backdrop-filter: blur(10px) brightness(60%);
    border-bottom: 1px solid #ffffff38;
 }

.window-content-area {
    flex: 1;
    overflow: auto;
    outline: none;
    border: none;
}