body, html {
    height: 100vh;
    margin: 0;
    font-family: fart;
    background-color: rgb(20 20 20);

}

@font-face {
    font-family: fart;
    src: url('../fart.ttf');
}

.site-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-bar {
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    min-height: 20px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.add-game-button {
    color:  white;
    font-size: 40px;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

.add-game-menu {
    position: fixed;
    background-color: black;
    height: 100%;
    width: 285px;
    right: -2px;
    transition: right 0.1s ease;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.add-game-menu label {
    font-family: fart;
    color: white;
    text-align: center;
    font-size: 25px;
    user-select: none;
}

.add-game-menu p {
    font-family: fart;
    color: rgb(180, 180, 180);
    text-align: center;
    font-size: 15px;
    user-select: none;
    margin: 10px;
}

.add-game-menu.open {
    right: 0;
}

.add-game-inputs {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 40px;
    padding: 2px 0px;
}

.add-game-inputs label {
    font-size: 20px;
    text-align: right;
    white-space: nowrap;
}

.add-game-inputs input {
    width: 100%;
    height: 32px;
    background-color: rgb(209, 209, 209);
    border-radius: 4px;
    border: none;
    padding: 2px 2px;
    box-sizing: border-box;
    display: flex;
}

.add-game-inputs button {
    background-color: rgb(93, 214, 109);
    border-radius: 5px;
    outline: none;
}

.add-game-inputs button:hover {
    background-color: rgb(75, 156, 86);
    cursor: pointer;
}


.game-area {
    width: 100%;
    min-height: 100%;
    margin-top: 20px;
    background-color: rgb(20 20 20);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;  
    padding: 20px;
    box-sizing: border-box; 
    padding-right: 300px;
    align-items: flex-start;
}

.game {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 20px 20px 8px black;
    position: relative;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;
}

.game::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 200px rgba(0,0,0,1);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}



.game:hover::after {
    opacity: 1;
}


.game-fortnite {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.game label {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: white;
    font-size: 30px;
    text-align: center;
}

.game:hover label {
    opacity: 1;
    transform: translateY(0);
}

.vinnyballs {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: right;
    bottom: 0;
    right: 0; 
    width: 100%;
    min-height: 25px;
    background-color: black;
}
